{%extends 'base.html' %}
{%block content %}



 <div style="margin-left: 15%;margin-top: 10%;" class="row">
    <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 1-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="django">
                <!-- <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div> -->
                <img class="img-fluid" src="https://avatars.githubusercontent.com/u/27804?s=280&amp;v=4" alt="HTML tutorial" style="width:200px;height:200px;margin-top: 0px;">
            </a>
            <div class="portfolio-caption">
                <div style="color: white;margin-left: 20%;" class="portfolio-caption-heading">Django</div>
                <div style="color: white;margin-left: 0%;" class="portfolio-caption-subheading ">It is a Python-based free and <br> open-source web framework  </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 2-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="angular">
                <!-- <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div> -->
                <img class="img-fluid" src="https://angular.io/assets/images/logos/angularjs/AngularJS-Shield.svg" alt="HTML tutorial" style="width:200px;height:200px;margin-top: 0px;">
            </a>
            <div class="portfolio-caption">
                <div style="color: white;margin-left: 17%;" class="portfolio-caption-heading">Angular</div>
                <div style="color: white;margin-left: 0%;" class="portfolio-caption-subheading ">It is a TypeScript-based open <br>source  web application framework </div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4">
        <!-- Portfolio item 3-->
        <div class="portfolio-item">
            <a class="portfolio-link" data-bs-toggle="modal" href="node">
                <!-- <div class="portfolio-hover">
                    <div class="portfolio-hover-content"><i class="fas fa-plus fa-3x"></i></div>
                </div> -->
                <img class="img-fluid" src="https://piyushvscode.gallerycdn.vsassets.io/extensions/piyushvscode/nodejs-snippets/0.0.2/1575178663150/Microsoft.VisualStudio.Services.Icons.Default" alt="HTML tutorial" style="width:200px;height:200px;margin-top: 0px;">
            </a>
            <div class="portfolio-caption">
                <div style="color: white;margin-left: 17%;" class="portfolio-caption-heading">Node.js</div>
                <div style="color: white;margin-left: 0%;" class="portfolio-caption-subheading ">It is an open-source, cross-platform, <br> back-end JavaScript runtime environment</div>
            </div>
        </div>
    </div>
    <div class="col-lg-4 col-sm-6 mb-4 mb-lg-0">

    </div>
 </div>
 











{% endblock %}
