<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the HandheldFriendly -->
	<meta name="HandheldFriendly" content="True">
	<!-- set the description -->
	<meta name="description" content="STUDYLMS HTML Template">
	<!-- set the Keyword -->
	<meta name="keywords" content="">
	<meta name="author" content="STUDYLMS HTML Template">
	<!-- set the page title -->
	<title>Django</title>
	<!-- include google roboto font cdn link -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
	<!-- include the site bootstrap stylesheet -->

    <!-- <link rel="stylesheet" href="{% static 'home_web.css'%}"> -->
    <link rel="stylesheet" href="{% static 'bootstrap.css'%}">

    <link rel="stylesheet" href="{% static 'plugins.css'%}">

    <link rel="stylesheet" href="{% static 'colors.css'%}">

    <link rel="stylesheet" href="{% static 'style.css'%}">


    <link rel="stylesheet" href="{% static 'responsive.css'%}">

    
	


</head>
<body>
	<!-- main container of all the page elements -->
	<div id="wrapper">
		<!-- header of the page -->
		<header id="page-header">
			<!-- top bar -->
			
			<!-- header holder -->
			
		</header>
		<!-- contain main informative part of the site -->
		<main id="main">
			<!-- heading banner -->
			<header >
                
		
			<!-- breadcrumb nav -->
		
			<!-- two columns -->
			<div id="two-columns" class="container">
				<div class="row">
					<!-- content -->
					<article id="content" class="col-xs-12 col-md-9">
						<!-- content h1 -->
						<h1 class="content-h1 fw-semi">Course Django</h1>
						<!-- view header -->
						<header class="view-header row">
							<div class="col-xs-12 col-sm-9 d-flex">
								<div class="d-col">
									<!-- post author -->
									<div class="post-author">
										<div class="alignleft no-shrink rounded-circle">
											<a href="#"><img src="https://image.shutterstock.com/image-vector/business-presentation-conference-seminar-icon-260nw-1509286838.jpg" class="rounded-circle" alt="image description"></a>
										</div>
										<div class="description-wrap">
											<h2 class="author-heading"><a href="#">Instructor</a></h2>
											<h3 class="author-heading-subtitle text-uppercase">Instructor name</h3>
										</div>
									</div>
								</div>
								<div class="d-col">
									<!-- post author -->
									<div class="post-author">
										<div class="alignleft no-shrink icn-wrap">
											<i class="far fa-bookmark"></i>
										</div>
										<div class="description-wrap">
											<h2 class="author-heading"><a href="#">Category</a></h2>
											<h3 class="author-heading-subtitle text-uppercase">Web application server framework</h3>
										</div>
									</div>
								</div>
								<div class="d-col">
									<!-- post author -->
									<div class="post-author">
									 
									</div>
								</div>
								
								
								<div class="d-col">
									<!-- post author -->
									<div class="post-author">
										<div class="alignleft no-shrink icn-wrap">
											<i class="far fa-bookmark"></i>
										</div>
										<div class="description-wrap">
											
											<a  href="backd"><button style="background-color: rgb(35, 83, 39);" type="button" class="btn btn-secondary" >Back</button></a>
										</div>
									</div>
								</div>
								
							</div>
						
						</header>
						<div class="aligncenter content-aligncenter">
							<img src="https://twilio-cms-prod.s3.amazonaws.com/original_images/django-dark.png" alt="image description">
						</div>
						<h3 class="content-h3">Course Description</h3>
						<p>Django is a high-level Python web framework that enables rapid development of secure and maintainable websites. Built by experienced developers, Django takes care of much of the hassle of web development, so you can focus on writing your app without needing to reinvent the wheel.</p>
						<p>Django is a collection of Python libs allowing you to quickly and efficiently create a quality Web application, and is suitable for both frontend and backend.
						</p>
						<h3 class="content-h3">What you will learn</h3>
						<p>Django’s first side reveals rapid-development, fast processing, scalability, whereas it’s another side reveals it’s monolithic nature and inability to create smaller projects.</p>
						<ul class="listDefault list-unstyled">
							<li>Better CDN connectivity and Content Management</li>
							<li>Django is made by web-developers for web-developers</li>
							<li>Offers Rapid-development</li>
							<li>Fast Processing and scalable with high security</li>
						</ul>
						<h2>Carriculam</h2>



						<!-- files -->
						<h2 class="h6 text-uppercase fw-semi rowHeading">Section: files</h2>
						<div class="panel-group sectionRowPanelGroup" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
									<h3 class="panel-title fw-normal">
										<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="https://www.gti.bh/Library/assets/djangobookwzy482.pdf" target="_blank" aria-expanded="false" aria-controls="collapseOne">
											<span class="accOpenerCol">
												<i class="fas fa-play-circle inlineIcn"></i>  Django Book: pdf version  <span class="label label-primary text-white text-uppercase">Video</span>
											</span>
											<span class="accOpenerCol hd-phone">
												
												<time datetime="2011-01-12" class="timeCount"></time>
											</span>
										</a>
									</h3>
								</div>


								<div class="panel-heading" role="tab" id="headingOne">
									<h3 class="panel-title fw-normal">
										<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="https://buildmedia.readthedocs.org/media/pdf/django/latest/django.pdf" target="_blank" aria-expanded="false" aria-controls="collapseOne">
											<span class="accOpenerCol">
												<i class="fas fa-play-circle inlineIcn"></i>  How to Django <span class="label label-primary text-white text-uppercase">Video</span>
											</span>
											<span class="accOpenerCol hd-phone">
												
												<time datetime="2011-01-12" class="timeCount">5 Min</time>
											</span>
										</a>
									</h3>
								</div>




								<div class="panel-heading" role="tab" id="headingOne">
									<h3 class="panel-title fw-normal">
										<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="http://englishonlineclub.com/pdf/Django%20-%20Web%20Development%20with%20Python%20(Learning%20Path)%20%5BEnglishOnlineClub.com%5D.pdf" aria-expanded="false" aria-controls="collapseOne">
											<span class="accOpenerCol">
												<i class="fas fa-play-circle inlineIcn"></i> Web Development with Django  <span class="label label-primary text-white text-uppercase">Video</span>
											</span>
											<span class="accOpenerCol hd-phone">
												
												<time datetime="2011-01-12" class="timeCount"></time>
											</span>
										</a>
									</h3>
								</div>
							</div>
						</div>
						<!-- files end -->



						<!-- sectionRow -->
						<section class="sectionRow">
							<h2 class="h6 text-uppercase fw-semi rowHeading">Section-1: Introduction</h2>
							<!-- sectionRowPanelGroup -->
							<div class="panel-group sectionRowPanelGroup" id="accordion" role="tablist" aria-multiselectable="true">
								<!-- panel -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingOne">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="What" aria-expanded="false" aria-controls="collapseOne">
												<span class="accOpenerCol">
													<i class="fas fa-play-circle inlineIcn"></i>  What is Django? <span class="label label-primary text-white text-uppercase">Video</span>
												</span>
												<span class="accOpenerCol hd-phone">
													
													<time datetime="2011-01-12" class="timeCount">5 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										<div class="panel-body">
											<p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
										</div>
									</div>
								</div>
								<!-- panel -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingTwo">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="Firstd" aria-expanded="false" aria-controls="collapseTwo">
												<span class="accOpenerCol">
													<i class="far fa-file inlineIcn"></i> First App in Django <span class="label label-success text-white text-uppercase">free</span>
												</span>
												<span class="accOpenerCol hd-phone">
													<time datetime="2011-01-12" class="timeCount">6 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
										<div class="panel-body">
											<p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
										</div>
									</div>
								</div>
								<!-- panel -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingThree">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="Templated" aria-expanded="true" aria-controls="collapseThree">
												<span class="accOpenerCol">
													<i class="fas fa-puzzle-piece inlineIcn"></i> Django Template Language | DTL <span class="label label-primary text-white text-uppercase">Quiz</span>
												</span>
												<span class="accOpenerCol hd-phone">
													<time datetime="2011-01-12" class="timeCount">7 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									
								</div>
								<!-- panel -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFour">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="Ldan" aria-expanded="false" aria-controls="collapseFour">
												<span class="accOpenerCol">
													<i class="fas fa-play-circle inlineIcn"></i> Django Template Language - part 2 <span class="label label-primary text-white text-uppercase">Video</span>
												</span>
												<span class="accOpenerCol hd-phone">
													
													<time datetime="2011-01-12" class="timeCount">6 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									
								</div>
								<!-- panel -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFive">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="GETd" aria-expanded="false" aria-controls="collapseFive">
												<span class="accOpenerCol">
													<i class="far fa-file inlineIcn"></i> GET vs POST | HTTP Methods <span class="label label-warning text-white text-uppercase">Seminare</span>
												</span>
												<span class="accOpenerCol hd-phone">
													<time datetime="2011-01-12" class="timeCount">8 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFour">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="Modeld" aria-expanded="false" aria-controls="collapseFour">
												<span class="accOpenerCol">
													<i class="fas fa-play-circle inlineIcn"></i> Model View Template in Django | MVT <span class="label label-primary text-white text-uppercase">Video</span>
												</span>
												<span class="accOpenerCol hd-phone">
													
													<time datetime="2011-01-12" class="timeCount">7 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									
								</div>



								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFour">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="Staticd" aria-expanded="false" aria-controls="collapseFour">
												<span class="accOpenerCol">
													<i class="fas fa-play-circle inlineIcn"></i> Static Files - 1<span class="label label-primary text-white text-uppercase">Video</span>
												</span>
												<span class="accOpenerCol hd-phone">
													
													<time datetime="2011-01-12" class="timeCount">4 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									
								</div>





                           




                                <div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFour">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="Filesd" aria-expanded="false" aria-controls="collapseFour">
												<span class="accOpenerCol">
													<i class="fas fa-play-circle inlineIcn"></i> Static Files - 2 <span class="label label-primary text-white text-uppercase">Video</span>
												</span>
												<span class="accOpenerCol hd-phone">
													
													<time datetime="2011-01-12" class="timeCount">6 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									
								</div>

							</div>
						</section>
						<!-- sectionRow -->
						<section class="sectionRow">
							<h2 class="h6 text-uppercase fw-semi rowHeading">Section-2: Database</h2>
							<!-- sectionRowPanelGroup -->
							<div class="panel-group sectionRowPanelGroup" id="accordion2" role="tablist" aria-multiselectable="true">
								<!-- panel -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="heading2One">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion2" href="Modelsd" aria-expanded="false" aria-controls="collapse2One">
												<span class="accOpenerCol">
													<i class="fas fa-play-circle inlineIcn"></i> Models and Migrations <span class="label label-primary text-white text-uppercase">Video</span>
												</span>
												<span class="accOpenerCol hd-phone">
												
													<time datetime="2011-01-12" class="timeCount">7 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									<div id="collapse2One" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2One">
										<div class="panel-body">
											<p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
										</div>
									</div>
								</div>




								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFour">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="Admind" aria-expanded="false" aria-controls="collapseFour">
												<span class="accOpenerCol">
													<i class="fas fa-play-circle inlineIcn"></i>  Admin  <span class="label label-primary text-white text-uppercase">Video</span>
												</span>
												<span class="accOpenerCol hd-phone">
													
													<time datetime="2011-01-12" class="timeCount">6 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
										<div class="panel-body">
											<p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
										</div>
									</div>
								</div>




								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFour">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="Fetchd" aria-expanded="false" aria-controls="collapseFour">
												<span class="accOpenerCol">
													<i class="fas fa-play-circle inlineIcn"></i>  Add and Fetch data from Database <span class="label label-primary text-white text-uppercase">Video</span>
												</span>
												<span class="accOpenerCol hd-phone">
													
													<time datetime="2011-01-12" class="timeCount">5 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
										<div class="panel-body">
											<p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
										</div>
									</div>
								</div>
								<!-- panel -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="heading2Two">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion2" href="Userd" aria-expanded="false" aria-controls="collapse2Two">
												<span class="accOpenerCol">
													<i class="far fa-file inlineIcn"></i> User Registration - 1 <span class="label label-success text-white text-uppercase">free</span>
												</span>
												<span class="accOpenerCol hd-phone">
													<time datetime="2011-01-12" class="timeCount">7 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									
								</div>
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFour">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="Userd1" aria-expanded="false" aria-controls="collapseFour">
												<span class="accOpenerCol">
												 <i class="fas fa-play-circle inlineIcn"></i> User Registration - 2 <span class="label label-primary text-white text-uppercase">Video</span>
												</span>
												<span class="accOpenerCol hd-phone">
													
													<time datetime="2011-01-12" class="timeCount">6 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
										<div class="panel-body">
											<p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
										</div>
									</div>
								</div>




                                <div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFour">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="log1d" aria-expanded="false" aria-controls="collapseFour">
												<span class="accOpenerCol">
													<i class="fas fa-play-circle inlineIcn"></i> User login <span class="label label-primary text-white text-uppercase">Video</span>
												</span>
												<span class="accOpenerCol hd-phone">
													
													<time datetime="2011-01-12" class="timeCount">6 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
										<div class="panel-body">
											<p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
										</div>
									</div>
								</div>








							</div>
						</section>
						<!-- bookmarkFoot -->
						
						
						
						<!-- reviesSubmissionForm -->
						
					</article>
					<!-- sidebar -->
					
				</div>
			</div>
		</main>
		<!-- footer area container -->
		<div class="footer-area bg-dark text-gray">
			<!-- aside -->
			
			<!-- page footer -->
			<footer id="page-footer" class="font-lato">
				<div class="container">
					<div class="row holder">
					
						<div class="col-xs-12 col-sm-pull-6 col-sm-6">
							<p><a href="#">Webera</a> | &copy; 2021 <a href="#"></a>, All Right Reserved Webera</p>
                            
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- back top of the page -->
		<span id="back-top" class="text-center fa fa-caret-up"></span>
		<!-- loader of the page -->
		
	</div>
	<div class="popup-holder">
		<div id="popup1" class="lightbox-demo">
			<form action="#" class="user-log-form">
				<h2>Login Form</h2>
				<div class="form-group">
					<input type="text" class="form-control element-block" placeholder="Username or email address *">
				</div>
				<div class="form-group">
					<input type="password" class="form-control element-block" placeholder="Password *">
				</div>
				<div class="btns-wrap">
					<div class="wrap">
						<label for="rem" class="custom-check-wrap fw-normal font-lato">
							<input type="checkbox" id="rem" class="customFormReset">
							<span class="fake-label element-block">Remember me</span>
						</label>
						<button type="submit" class="btn btn-theme btn-warning fw-bold font-lato text-uppercase">Login</button>
					</div>
					<div class="wrap text-right">
						<p>
							<a href="#" class="forget-link">Lost your Password?</a>
						</p>
					</div>
				</div>
			</form>
		</div>
		<div id="popup2" class="lightbox-demo">
			<form action="#" class="user-log-form">
				<h2>Register Form</h2>
				<div class="form-group">
					<input type="email" class="form-control element-block" placeholder="Email address *">
				</div>
				<div class="form-group">
					<input type="password" class="form-control element-block" placeholder="Password *">
				</div>
				<div class="btns-wrap">
					<div class="wrap">
						<button type="submit" class="btn btn-theme btn-warning fw-bold font-lato text-uppercase">Register</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- include jQuery -->
	
</body>
</html>