<!DOCTYPE html>
<html>
<head>
    {% load static %}
	<!-- set the encoding of your site -->
	<meta charset="utf-8">
	<!-- set the viewport width and initial-scale on mobile devices -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- set the HandheldFriendly -->
	<meta name="HandheldFriendly" content="True">
	<!-- set the description -->
	<meta name="description" content="STUDYLMS HTML Template">
	<!-- set the Keyword -->
	<meta name="keywords" content="">
	<meta name="author" content="STUDYLMS HTML Template">
	<!-- set the page title -->
	<title>Nodejs</title>
	<!-- include google roboto font cdn link -->
	<link href="https://fonts.googleapis.com/css?family=Lato:300,300i,400,400i,700,700i%7COpen+Sans:300,300i,400,400i,600,600i,700,700i" rel="stylesheet">
	<!-- include the site bootstrap stylesheet -->

    <!-- <link rel="stylesheet" href="{% static 'home_web.css'%}"> -->
    <link rel="stylesheet" href="{% static 'bootstrap.css'%}">

    <link rel="stylesheet" href="{% static 'plugins.css'%}">

    <link rel="stylesheet" href="{% static 'colors.css'%}">

    <link rel="stylesheet" href="{% static 'style.css'%}">


    <link rel="stylesheet" href="{% static 'responsive.css'%}">

    
	


</head>
<body>
	<!-- main container of all the page elements -->
	<div id="wrapper">
		<!-- header of the page -->
		<header id="page-header">
			<!-- top bar -->
			
			<!-- header holder -->
			
		</header>
		<!-- contain main informative part of the site -->
		<main id="main">
			<!-- heading banner -->
			<header >
                
		
			<!-- breadcrumb nav -->
		
			<!-- two columns -->
			<div id="two-columns" class="container">
				<div class="row">
					<!-- content -->
					<article id="content" class="col-xs-12 col-md-9">
						<!-- content h1 -->
						<h1 class="content-h1 fw-semi">Course Nodejs</h1>
						<!-- view header -->
						<header class="view-header row">
							<div class="col-xs-12 col-sm-9 d-flex">
								<div class="d-col">
									<!-- post author -->
									<div class="post-author">
										<div class="alignleft no-shrink rounded-circle">
											<a href="#"><img src="https://image.shutterstock.com/image-vector/business-presentation-conference-seminar-icon-260nw-1509286838.jpg" class="rounded-circle" alt="image description"></a>
										</div>
										<div class="description-wrap">
											<h2 class="author-heading"><a href="#">Instructor</a></h2>
											<h3 class="author-heading-subtitle text-uppercase">Instructor name</h3>
										</div>
									</div>
								</div>
								<div class="d-col">
									<!-- post author -->
									<div class="post-author">
										<div class="alignleft no-shrink icn-wrap">
											<i class="far fa-bookmark"></i>
										</div>
										<div class="description-wrap">
											<h2 class="author-heading"><a href="#">Category</a></h2>
											<h3 class="author-heading-subtitle text-uppercase">Web application server framework</h3>
										</div>
									</div>
								</div>
								<div class="d-col">
									<!-- post author -->
									<div class="post-author">
										<div class="alignleft no-shrink icn-wrap">
											<i class="far fa-bookmark"></i>
										</div>
										<div class="description-wrap">
											
											<a  href="backd"><button style="background-color: green;" type="button" class="btn btn-secondary" >Back</button></a>
										</div>
									</div>
								</div>
							</div>
						
						</header>
						<div class="aligncenter content-aligncenter">
							<img src="https://railsware.com/blog/wp-content/uploads/2018/09/2400%D1%851260-rw-blog-node-js.png" alt="image description">
						</div>
						<h3 class="content-h3">Course Description</h3>
						<p>Node. js is primarily used for non-blocking, event-driven servers, due to its single-threaded nature. It's used for traditional web sites and back-end API services, but was designed with real-time, push-based architectures in mind.</p>
						<p>Node. js® is a JavaScript runtime built on Chrome's V8 JavaScript engine. Node. js uses an event-driven, non-blocking I/O model that makes it lightweight and efficient.
						</p>
						<h3 class="content-h3">What you will learn</h3>
						<p>It is the most popular framework in technology today, according to the most recent Stack Overflow Developer Survey, and its popularity just keeps growing. It’s not a big surprise. The flexibility and ease of JavaScript coupled with the power of a fast async loop and a thriving community have only increased the productivity and power of Node.js developers.</p>
						<ul class="listDefault list-unstyled">
							<li>Reduces performance when handling Heavy Computing Tasks.</li>
							<li>Node.js invites a lot of code changes due to Unstable API.</li>
							<li>Node.js Asynchronous Programming Model makes it difficult to maintain code.</li>
							<li>Choose Wisely – Lack of Library Support can Endanger your Code.</li>
						</ul>
						<h2>Carriculam</h2>


						<h2 class="h6 text-uppercase fw-semi rowHeading">Section: files</h2>
						<div class="panel-group sectionRowPanelGroup" id="accordion" role="tablist" aria-multiselectable="true">
							<div class="panel panel-default">
								<div class="panel-heading" role="tab" id="headingOne">
									<h3 class="panel-title fw-normal">
										<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="https://www.tutorialspoint.com/nodejs/nodejs_tutorial.pdf" target="_blank" aria-expanded="false" aria-controls="collapseOne">
											<span class="accOpenerCol">
												<i class="fas fa-play-circle inlineIcn"></i>  Node.js notes  <span class="label label-primary text-white text-uppercase">Video</span>
											</span>
											<span class="accOpenerCol hd-phone">
												
												<time datetime="2011-01-12" class="timeCount"></time>
											</span>
										</a>
									</h3>
								</div>


								<div class="panel-heading" role="tab" id="headingOne">
									<h3 class="panel-title fw-normal">
										<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="https://www.anuragkapur.com/assets/blog/programming/node/PDF-Guide-Node-Andrew-Mead-v3.pdf" target="_blank" aria-expanded="false" aria-controls="collapseOne">
											<span class="accOpenerCol">
												<i class="fas fa-play-circle inlineIcn"></i>   Everything in nodejs <span class="label label-primary text-white text-uppercase">Video</span>
											</span>
											<span class="accOpenerCol hd-phone">
												
												<time datetime="2011-01-12" class="timeCount"></time>
											</span>
										</a>
									</h3>
								</div>




								<div class="panel-heading" role="tab" id="headingOne">
									<h3 class="panel-title fw-normal">
										<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="https://riptutorial.com/Download/node-js.pdf" target="_blank" aria-expanded="false" aria-controls="collapseOne">
											<span class="accOpenerCol">
												<i class="fas fa-play-circle inlineIcn"></i> Learning Nodejs  <span class="label label-primary text-white text-uppercase">Video</span>
											</span>
											<span class="accOpenerCol hd-phone">
												
												<time datetime="2011-01-12" class="timeCount"></time>
											</span>
										</a>
									</h3>
								</div>
							</div>
						</div>
						<!-- sectionRow -->
						<section class="sectionRow">
							<h2 class="h6 text-uppercase fw-semi rowHeading">Section-1: Introduction</h2>
							<!-- sectionRowPanelGroup -->
							<div class="panel-group sectionRowPanelGroup" id="accordion" role="tablist" aria-multiselectable="true">
								<!-- panel -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingOne">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="Noden" aria-expanded="false" aria-controls="collapseOne">
												<span class="accOpenerCol">
													<i class="fas fa-play-circle inlineIcn"></i>  Getting Started with Node JS <span class="label label-primary text-white text-uppercase">Video</span>
												</span>
												<span class="accOpenerCol hd-phone">
													
													<time datetime="2011-01-12" class="timeCount">15 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									<div id="collapseOne" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne">
										<div class="panel-body">
											<p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
										</div>
									</div>
								</div>
								<!-- panel -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingTwo">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="Hown" aria-expanded="false" aria-controls="collapseTwo">
												<span class="accOpenerCol">
													<i class="far fa-file inlineIcn"></i> How Node JS Works? <span class="label label-success text-white text-uppercase">free</span>
												</span>
												<span class="accOpenerCol hd-phone">
													<time datetime="2011-01-12" class="timeCount">16 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
										<div class="panel-body">
											<p>Capitalize on low hanging fruit to identify a ballpark value added activity beta test Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion along the information highway will close the loop on focusing solely on the bottom line.</p>
										</div>
									</div>
								</div>
								<!-- panel -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingThree">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="Managern" aria-expanded="true" aria-controls="collapseThree">
												<span class="accOpenerCol">
													<i class="fas fa-puzzle-piece inlineIcn"></i> Node Package Manager NodeJS <span class="label label-primary text-white text-uppercase">Quiz</span>
												</span>
												<span class="accOpenerCol hd-phone">
													<time datetime="2011-01-12" class="timeCount">37 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									
								</div>
								<!-- panel -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFour">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="Modulesn" aria-expanded="false" aria-controls="collapseFour">
												<span class="accOpenerCol">
													<i class="fas fa-play-circle inlineIcn"></i> Modules in Node JS <span class="label label-primary text-white text-uppercase">Video</span>
												</span>
												<span class="accOpenerCol hd-phone">
													
													<time datetime="2011-01-12" class="timeCount">26 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									
								</div>
								<!-- panel -->
								



								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFour">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="Filen" aria-expanded="false" aria-controls="collapseFour">
												<span class="accOpenerCol">
													<i class="fas fa-play-circle inlineIcn"></i> Fs (File System) Module in Node JS<span class="label label-primary text-white text-uppercase">Video</span>
												</span>
												<span class="accOpenerCol hd-phone">
													
													<time datetime="2011-01-12" class="timeCount">30 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									
								</div>


								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="headingFour">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion" href="Expressn" aria-expanded="false" aria-controls="collapseFour">
												<span class="accOpenerCol">
													<i class="fas fa-play-circle inlineIcn"></i> Express in Node js | Web Framework<span class="label label-primary text-white text-uppercase">Video</span>
												</span>
												<span class="accOpenerCol hd-phone">
													
													<time datetime="2011-01-12" class="timeCount">24 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									
								</div>
							</div>
						</section>







						<!-- sectionRow -->
						<section class="sectionRow">
							<h2 class="h6 text-uppercase fw-semi rowHeading">Section-2: Database and crash Course</h2>
							<!-- sectionRowPanelGroup -->
							<div class="panel-group sectionRowPanelGroup" id="accordion2" role="tablist" aria-multiselectable="true">
								<!-- panel -->
								<div class="panel panel-default">
									<div class="panel-heading" role="tab" id="heading2One">
										<h3 class="panel-title fw-normal">
											<a class="accOpener" role="button" data-toggle="collapse" data-parent="#accordion2" href="Tutorialn" aria-expanded="false" aria-controls="collapse2One">
												<span class="accOpenerCol">
													<i class="fas fa-play-circle inlineIcn"></i> Node JS Tutorial <span class="label label-primary text-white text-uppercase">Video</span>
												</span>
												<span class="accOpenerCol hd-phone">
												
													<time datetime="2011-01-12" class="timeCount">90 Min</time>
												</span>
											</a>
										</h3>
									</div>
									<!-- collapseOne -->
									
								</div>
							</div>
						</section>
						<!-- bookmarkFoot -->
						
						
						
						<!-- reviesSubmissionForm -->
						
					</article>
					<!-- sidebar -->
					
				</div>
			</div>
		</main>
		<!-- footer area container -->
		<div class="footer-area bg-dark text-gray">
			<!-- aside -->
			
			<!-- page footer -->
			<footer id="page-footer" class="font-lato">
				<div class="container">
					<div class="row holder">
					
						<div class="col-xs-12 col-sm-pull-6 col-sm-6">
							<p><a href="#">Webera</a> | &copy; 2021 <a href="#"></a>, All Right Reserved Webera</p>
                            
						</div>
					</div>
				</div>
			</footer>
		</div>
		<!-- back top of the page -->
		<span id="back-top" class="text-center fa fa-caret-up"></span>
		<!-- loader of the page -->
		
	</div>
	<div class="popup-holder">
		<div id="popup1" class="lightbox-demo">
			<form action="#" class="user-log-form">
				<h2>Login Form</h2>
				<div class="form-group">
					<input type="text" class="form-control element-block" placeholder="Username or email address *">
				</div>
				<div class="form-group">
					<input type="password" class="form-control element-block" placeholder="Password *">
				</div>
				<div class="btns-wrap">
					<div class="wrap">
						<label for="rem" class="custom-check-wrap fw-normal font-lato">
							<input type="checkbox" id="rem" class="customFormReset">
							<span class="fake-label element-block">Remember me</span>
						</label>
						<button type="submit" class="btn btn-theme btn-warning fw-bold font-lato text-uppercase">Login</button>
					</div>
					<div class="wrap text-right">
						<p>
							<a href="#" class="forget-link">Lost your Password?</a>
						</p>
					</div>
				</div>
			</form>
		</div>
		<div id="popup2" class="lightbox-demo">
			<form action="#" class="user-log-form">
				<h2>Register Form</h2>
				<div class="form-group">
					<input type="email" class="form-control element-block" placeholder="Email address *">
				</div>
				<div class="form-group">
					<input type="password" class="form-control element-block" placeholder="Password *">
				</div>
				<div class="btns-wrap">
					<div class="wrap">
						<button type="submit" class="btn btn-theme btn-warning fw-bold font-lato text-uppercase">Register</button>
					</div>
				</div>
			</form>
		</div>
	</div>
	<!-- include jQuery -->
	
</body>
</html>